{% extends 'base.html' %}
{% block body %}
{% load static %}


    

<link href="{% static 'style.css' %}", rel="stylesheet">

<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid" style="padding:3%;">
                         <!-- Table Card -->
                        <div class="card"><!-- card starts -->
                          <div class="card-header text-white bg-info"><i class="fas fa-table mr-1"></i><b>Exam Members</b></div>
                          <div class="card-body"><!-- card body starts -->
                            <div class="table-responsive"><!-- table responsive div starts -->
                                <table class="table">
                                    <thead>
                                            <tr>
                                                  <th>Student Photo</th>
                                                  <th>Exams</th>
                                                  <th>Students</th>
                                                  <th>Actions</th>
                                            </tr>
                                    </thead>
                                    <!-- looping over each of the Members to get each of them rendered -->
                                    {% for member in members %}
                                    <tbody>
                                        <tr>
                                    
                                            <td>
                                              {% ifequal member.student.gender "male" %}
                                              <img  class="detail-img" src="{% static 'boy.png' %}">
                                              {% else %}
                                              <img class="detail-img" src="{% static 'girl.png' %}">
                                              {% endifequal %}
                                            </td>
                                            <td>{{member.exam.name}}</td>
                                            <td>{{member.student.name}}</td>
                                            <td>
                                                 <a class="btn btn-sm btn-info" href="/events/view_member/{{member.id}}/">View</a>
                                                 <a class="btn btn-sm btn-warning" href="/events/edit_member/{{member.id}}/">Edit</a>
                                                 <a class="btn btn-sm btn-danger" href="/events/delete_member/{{member.id}}/">Delete</a>

                                            </td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                    <!-- end of looping -->
                                </table>
                            </div>
                            <!-- end of table-responsive div -->
                            </div>
                            <!-- end of card-body div -->
                        </div>
                        <!-- end of card -->
                    
{% endblock body %}