
{% extends 'base.html' %}
{% block body %}
{% load static %}


    

<link href="{% static 'style.css' %}" rel="stylesheet">

<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid" style="padding:3%;">
                        <div class="card"><!-- card starts -->
                            <div class="card-header text-white bg-info"><i class="fas fa-table mr-1"></i><b>Faculties</b></div>
                            <div class="card-body"><!-- card body starts -->
                                <div class="table-responsive"><!-- table responsive div starts -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Photo</th>
                                                <th>Name></th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for faculty in faculties %}
                                            <tr>
                                                <td>
                                                    {% ifequal faculty.gender "male" %}
                                                    <img src="{% static 'boy.png' %}">
                                                    {% else %}
                                                    <img src="{% static 'girl.png' %}">
                                                    {% endifequal %}
                                                </td>
                                                    
                                                <td>{{faculty.name}}</td>
                                                <td>
                                                    <a class="btn btn-sm btn-info mr-1 ml-1" href="/faculty/faculty_detail/{{faculty.id}}/">View Profile</a>
                                                    <a class="btn btn-sm btn-warning mr-1 ml-1" href="/faculty/edit_faculty/{{faculty.id}}/">Edit</a>
                                                    <a class="btn btn-sm btn-danger mr-1 ml-1" href="/faculty/delete_faculty/{{faculty.id}}/">Delete</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                            
                                    
                                    </table>
                                    
                                </div>
                                <!-- end of table responsive div -->
                            </div>
                            <!-- end of card-body -->
                        </div>
                        <!-- end of card -->
                        
                    	
{% endblock body %}
