{% extends 'base.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid" style="padding:3%;">
                        <a href="/students/waiting_students/">Check Waiting Students</a>
                                    <!-- Table Card -->
                        <div class="card"><!-- card starts -->
                            <div class="card-header text-white bg-info"><i class="fas fa-table mr-1"></i><b>Students</b></div>
                            <div class="card-body"><!-- card body starts -->
                                <div class="table-responsive"><!-- table responsive div starts -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            <th>Photo</th>
                                            <th>Name</th>
                                            <th>Actions</th>
                                            </tr>
                                        </thead>
                                        
                                        <!-- looping over students, and printing data for each -->
                                        <tbody>
                                           {% for student in students %}
                                            <tr>
                                                <td>
                                                    {% ifequal student.gender "male" %}
                                                    <img src="{% static 'boy.png' %}">
                                                    {% else %}
                                                    <img src="{% static 'girl.png' %}">
                                                    {% endifequal %}
                                                    
                                                </td>
                                                <td>{{student.name}}</td>
                                                <td>
                                                    
                                                    <a class="btn btn-sm btn-info mr-1 ml-1" href="/students/student_profile/{{student.id}}/">View Profile</a>
                                                    <a class="btn btn-sm btn-warning mr-1 ml-1" href="/students/edit_student/{{student.id}}/">Edit</a>
                                                    <a class="btn btn-sm btn-danger mr-1 ml-1" href="/students/delete_student/{{student.id}}/">Delete</a>
                                                </td>
                                                    
                                                
                                            </tr>
                                            {% endfor %} 
                                        </tbody>
                                        
                                    </table>
                                    
                                </div>
                                <!-- end of table responsive div -->
                                
                            </div>
                            <!-- end of card-body -->
                        </div>
                        <!-- end of card -->
                    	
                        
                    	   <!-- div for pagination -->
                        <div class="pagination">
                            <span class="step-links">
                                {% if students.has_previous %}
                                    <a href="/students/?page=1">&laquo; first</a>
                                    <a href="/students/?page={{ students.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ students.number }} of {{ students.paginator.num_pages }}.
                                </span>

                                {% if students.has_next %}
                                    <a href="/students/?page={{ students.next_page_number }}">next</a>
                                    <a href="/students/?page={{ students.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                        
{% endblock body %}
