{% extends 'base.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        {% if students %}
                    	<h4>Unapproved Students</h4>

                    	<table>
                    		<tr>
                    			<th>Photo</th>
                    			<th>Name</th>
                    			<th>Actions</th>
                    		</tr>
                    		{% for student in students %}
                    		<tr>
                    			<td>
                                    {% ifequal student.gender "male" %}
                                    <img src="{% static 'boy.png' %}">
                                    {% else %}
                                    <img src="{% static 'girl.png' %}">
                                    {% endifequal %}
                                    
                                </td>
                                <td>{{student.name}}</td>
                                <td>
                                    <a href="/students/student_profile/{{student.id}}/">View Profile</a>
                                    <a href="/students/approve_student/{{student.id}}/">Approve</a>
                                    <a href="/students/cancel_student/{{student.id}}/">Cancel</a>
                                </td>
                                    
                    			
                    		</tr>
                    		{% endfor %}
                    	</table>
                        {% else %}
                        <h4>No unapproved students found</h4>
                        {% endif %}

{% endblock body %}