{% extends 'base.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid" style="padding:3%;">
                         <div class="card"><!-- card starts -->
                              <div class="card-header text-white bg-info"><i class="fas fa-table mr-1"></i><b>Time Tables</b></div>
                              <div class="card-body"><!-- card body starts -->
                                   <div class="table-responsive"><!-- table responsive div starts -->
                                        {% for table in tables %}
                                        <h3>{{table.class_name}} Time Table</h3>
                                        <table class="table">
                                             <thead>
                                                  <tr>
                                                  <th>Days</th>
                                                  <th>{{table.sub1_time}}</th>
                                                  <th>{{table.sub2_time}}</th>
                                                  <th>{{table.break_time}}</th>}}
                                                  <th>{{table.scl_over_time}}</th>
                                                  
                                                  </tr>
                                             </thead>
                                             <tbody>
                                                  <tr>
                                                  <td>{{table.day1}}</td>
                                                  <td>{{table.sub1}}</td>
                                                  <td>{{table.sub2}}</td>
                                                  <td>BREAK</td>
                                                  <td>SCHOOL OVER</td>

                                             </tr>
                                             <tr>
                                                  <td>{{table.day2}}</td>
                                                  <td>{{table.sub1}}</td>
                                                  <td>{{table.sub2}}</td>
                                                  <td>BREAK</td>
                                                  <td>SCHOOL OVER</td>

                                             </tr>
                                             <tr>
                                                  <td>{{table.day3}}</td>
                                                  <td>{{table.sub1}}</td>
                                                  <td>{{table.sub2}}</td>
                                                  <td>BREAK</td>
                                                  <td>SCHOOL OVER</td>

                                             </tr>
                                             <tr>
                                                  <td>{{table.day4}}</td>
                                                  <td>{{table.sub1}}</td>
                                                  <td>{{table.sub2}}</td>
                                                  <td>BREAK</td>
                                                  <td>SCHOOL OVER</td>

                                             </tr>
                                             <tr>
                                                  <td>{{table.day5}}</td>
                                                  <td>{{table.sub1}}</td>
                                                  <td>{{table.sub2}}</td>
                                                  <td>BREAK</td>
                                                  <td>SCHOOL OVER</td>

                                             </tr>
                                             </tbody>
                                        </table>

                                        <a href="/timetable/edit_timetable/{{table.id}}/">Edit</a>
                                        <a href="/timetable/delete_timetable/{{table.id}}/">Delete</a>
                                   
                                        {% endfor %}  
                                             
                              
                              
                                   </div>
                                   <!-- end of table-responsive div -->
                              </div>
                              <!-- end of card body -->
                         </div>
                         <!-- end of card -->
                    	
                    	
                    	
{% endblock body %}