{% extends 'base.html' %}
{% block body %}
{% load static %}


    

<link href="{% static 'style.css' %}" rel="stylesheet">


        
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid" style="padding:3%;">
                        <!-- Form Card -->
                        <div class="card"><!-- card starts -->
                          <div class="card-header text-white bg-info"><b>Register Class</b></div>
                          <div class="card-body"><!-- card body starts -->
                           <div class="form-group"><!-- form group starts -->
                                <form method="POST">
                                  {% csrf_token %}
                                {{form.as_p}} 
                                <button type="submit" class="btn btn-info">Add Class</button> 
                                </form>
                                <!-- end of form -->
                              </div>
                              <!-- end of form-group div -->
                            </div>
                            <!-- end of card-body -->
                        </div>
                        <!-- end of card -->


                        <!-- Table Card -->
                        <div class="card"><!-- card starts -->
                          <div class="card-header text-white bg-info"><i class="fas fa-table mr-1"></i><b>Classes</b></div>
                          <div class="card-body"><!-- card body starts -->
                            <div class="table-responsive"><!-- table responsive div starts -->
                                <table class="table">
                                    <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Date</th>
                                                <th>Students</th>
                                                <th>Actions</th>
                                            </tr>
                                    </thead>
                                    <!-- looping over each of the classes to get each of them rendered -->
                                    {% for class in classes %}
                                    <tbody>
                                        <tr>
                                            <td>{{class.name}}</td>
                                            <td>{{class.students.class_name}}</td>
                                            <td>{{class.date}}</td>
                                            <td>
                                                <a class="btn btn-warning btn-sm" href="/academics/edit_class/{{class.id}}/">Edit</a>
                                                <a class="btn btn-danger btn-sm" href="/academics/delete_class/{{class.id}}/">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                    <!-- end of looping -->
                                </table>
                            </div>
                            <!-- end of table-responsive div -->
                            </div>
                            <!-- end of card-body div -->
                        </div>
                        <!-- end of card -->
                    

{% endblock body %}