{% extends 'base.html' %}
{% block body %}
        
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid" style="padding:3%;">
                    	
						<!-- Form Card -->
                        <div class="card"><!-- card starts -->
                          <h5 class="card-header text-white bg-info"><b>Edit Class</b></div>
                          <div class="card-body"><!-- card body starts -->
                           <div class="form-group"><!-- form group div starts -->
                                <form method="POST">
                                  {% csrf_token %}
                                {{form.as_p}} 
                                <button type="submit" class="btn btn-info">Save Class</button> 
                                </form>
                                <!-- end of form -->
                              </div>
                              <!-- end of form-group div -->
                            </div>
                            <!-- end of card-body -->
                        </div>
                        <!-- end of card -->
                    

{% endblock body %}