{% extends 'base.html' %}
{% block body %}
{% load static %}


    

<link href="{% static 'style.css' %}", rel="stylesheet">

        
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
							<h1>Register Class</h1>
							<form method="POST">
								{% csrf_token %}
								{{form.as_p}}
								<button type="submit">Add Class</button>
							</form>
							<h3>RegisteredClass List</h3>
							<table>
								<tr>
									<th>Class Name</th>
									<th>Class</th>
									<th>Section</th>
									<th>Session</th>
									<th>Shift</th>
									<th>ClassTimes</th>
									<th>Date</th>
									<th>Actions</th>
								</tr>
								{% for class in classes %}
								<tr>
									<td>{{class.name}}</td>
									<td>{{class.scl_class}}</td>
									<td>{{class.section}}</td>
									<td>{{class.session}}</td>
									<td>{{class.shift}}</td>
									<td>{{class.shift.start}} to {{class.shift.end}}</td>
									<td>{{class.date}}</td>
									<td>
										<a href="/academics/edit_regclass/{{class.id}}/">Edit</a>
										<a href="/academics/delete_regclass/{{class.id}}/">Delete</a>
									</td>
								</tr>
								{% endfor %}
							</table>
					    </div>
{% endblock body %}