{% extends 'base.html' %}
{% block body %}
{% load static %}


    

<link href="{% static 'style.css' %}", rel="stylesheet">

<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid" style="padding:3%;">

                         <!-- Table Card -->
                        <div class="card"><!-- card starts -->
                          <div class="card-header text-white bg-info"><i class="fas fa-table mr-1"></i><b>Attendance Data</b></div>
                          <div class="card-body"><!-- card body starts -->
                            <div class="table-responsive"><!-- table responsive div starts -->
                                <table class="table">
                                    <thead>
                                            <tr>
                                                  <th>Photo</th>
                                                  <th>Student</th>
                                                  <th>Class</th>
                                                  <th>Attendance</th>
                                                  <th>Date</th>
                                                  <th>Action</th>
                                            </tr>
                                    </thead>
                                    <!-- looping over each of the Attendance Data to get each of them rendered -->
                                    {% for attendance in attendance %}
                                    <tbody>
                                        <tr>

                                    
                                       <td>
                                       {% if attendance.student.gender == "male" %}
                                       <img src="{% static 'boy.png' %}">
                                       {% else %}
                                       <img src="{% static 'girl.png' %}">
                                       {% endif %}

                                        </td>
                                        <td>{{attendance.student.name}}</td>
                                        <td>{{attendance.student.class_name}}</td>
                                        <td>{{attendance.attendance}}</td>
                                        <td>{{attendance.date}}</td>
                                        <td><a class="btn btn-sm btn-warning" href="/administration/edit_attendance/{{attendance.id}}/">Edit</a></td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                    <!-- end of looping -->
                                </table>
                            </div>
                            <!-- end of table-responsive div -->
                            </div>
                            <!-- end of card-body div -->
                        </div>
                        <!-- end of card -->
                    
{% endblock body %}