{% extends 'base.html' %}
{% block body %}
{% load static %}


    

<link href="{% static 'style.css' %}", rel="stylesheet">

<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        
                    	<h4>Attendance</h4>
                    	<table>
                    		<tr>
                    			<th>Photo</th>
                    			<th>Student</th>
                    			<th>Class</th>
                    			<th>Attendance</th>
                    			<th>Date</th>
                    			<th>Action</th>
                    		</tr>

                    		{% for attendance in attendance %}
                    		<tr>
                    		<td>
                    			{% if attendance.student.gender == "male" %}
                    			<img src="{% static 'boy.png' %}">
                    			{% else %}
                    			<img src="{% static 'girl.png' %}">
                    			{% endif %}

                    		</td>
                    		<td>{{attendance.student.name}}</td>
                    		<td>{{attendance.student.class_name}}</td>
                    		<td>{{attendance.attendance}}</td>
                    		<td>{{attendance.date}}</td>
                    		<td><a href="/administration/edit_attendance/{{attendance.id}}/">Edit</a></td>
                    	</tr>
                    	{% endfor %}
                    	</table>
{% endblock body %}