{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
    table{
        margin:40px
    }
</style>
<link rel="stylesheet" href="{% static 'style.css' %}">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1>Fees</h1>
                        <form method='POST'>
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit">Submit</button>
                        </form>
                        <h5>Fees Structure</h5>
                        <table>
                            <tr>
                                <th>Class</th>
                                <th>Ffes Type</th>
                                <th>Amount</th>
                            </tr>
                            {% for fees in fees %}
                            <tr>
                                <td>{{fees.class_name}}</td>
                                <td>{{fees.fee_type}}</td>
                                <td>{{fees.amount}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <h5>View Fee Payment Status ClassWise</h5>
                    	<table>
                    		<tr>
                    			<th>Classes</th>
                    			<th></th>
                    		</tr>
                    		{% for class in classes %}
                    		<tr>
                    			<td>{{class.name}}</td>
                    			<td><a href="/administration/fee_detail/{{class.id}}/">View fees Payment Status</a>
                    			</td>
                    		</tr>
                    		{% endfor %}
                    	</table>

{% endblock body %}