{% extends 'base.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<style>
     h5{
          display:inline-block;
     }
     img{
     height:250px;
     width:250px;
     display:block;
     margin: 20px auto;
     }

</style>
<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid" style="padding:3%;">
                         <div class="card"><!-- card starts -->
                              <div class="card-body"><!-- card body starts -->
                                    {% ifequal member.members.gender "male" %}
                                   <img  class="detail-img" src="{% static 'boy.png' %}">
                                   {% else %}
                                   <img class="detail-img" src="{% static 'girl.png' %}">
                                   {% endifequal %}
                                   <ul>
                                        <h5>Name:</h5>
                                        {{member.members.name}}
                                   </ul>
                                   <ul>
                                        <h5>Class:</h5>
                                        {{member.members.class_name}}
                                   </ul>
                                    <ul>
                                        <h5>Address:</h5>
                                        {{member.members.city}}, {{member.members.country}} 
                                   </ul>
                                   <ul>
                                        <h5>Present Status:</h5>
                                        {% if member.attendance == 'Present' %}
                                        Yes
                                        {% else %}
                                        No
                                        {% endif %}
                                   </ul>
                              </div>
                              <!-- end of card-body div -->
                         </div>
                         <!-- end of card -->
                   
                    	
{% endblock body %}