{% extends 'base.html' %}
{% block body %}
{% load static %}


    

<link href="{% static 'style.css' %}" rel="stylesheet">

        
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid" style="padding:3%;">
							 <!-- Form Card -->
                        <div class="card"><!-- card starts -->
                          <div class="card-header text-white bg-info"><b>Register City</b></div>
                          <div class="card-body"><!-- card body starts -->
                           <div class="form-group"><!-- form-group div starts -->
                                <form method="POST">
                                  {% csrf_token %}
                                {{form.as_p}} 
                                <button type="submit" class="btn btn-info">Add City</button> 
                                </form>
                                <!-- end of form -->
                              </div>
                              <!-- end of form-group div -->
                            </div>
                            <!-- end of card-body -->
                        </div>
                        <!-- end of card -->

                         <!-- Table Card -->
                        <div class="card"><!-- card starts -->
                          <div class="card-header text-white bg-info"><i class="fas fa-table mr-1"></i><b>Cities</b></div>
                          <div class="card-body"><!-- card body starts -->
                            <div class="table-responsive"><!-- table responsive div starts -->
                                <table class="table">
                                    <thead>  
					<tr>
					<th>Cities</th>
					<th>Country</th>
					<th>Actions</th>
                                        </tr>
                                    </thead>
                                    <!-- looping over each of the cities to get each of them rendered -->
                                    {% for city in cities %}
                                    <tbody>
                                        <tr>
				    	<td>{{city.name}}</td>
					<td>{{city.country}}</td>
					<td>
						<a class="btn btn-sm btn-warning" href="/address/edit_city/{{city.id}}/">Edit</a>
						<a class="btn btn-sm btn-danger" href="/address/delete_city/{{city.id}}/">Delete</a>
					</td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                    <!-- end of looping -->
                                </table>
                            </div>
                            <!-- end of table-responsive div -->
                            </div>
                            <!-- end of card-body div -->
                        </div>
                        <!-- end of card -->
                    

{% endblock body %}
